<div class="main"> 
  <section>
    <h1>Übersicht Ausgaben</h1>
    <div class="underline"></div>
    <table>
        <tr>
            <th>Datum</th>
            <th>Bezeichnung</th>
            <th>Betrag in Euro</th>
            <th>Typ</th>
            <th>Bearbeiten</th>
        </tr>
        @for (transaction of transactions; track transaction.id){
        <tr>
            <td>
              <input type="date" [(ngModel)]="transaction.datum" required/>
            </td>
            <td>
              <input type="text" [(ngModel)]="transaction.beschreibung" required />
            </td>
            <td>
              <input type="number" [(ngModel)]="transaction.betrag" class="form-control" required/>
            </td>
            <td>
              <select [(ngModel)]="transaction.typ" class="form-control" required>
                <option value="income">Einnahme</option>
                <option value="expense">Ausgabe</option>
              </select> 
            </td>
            <td>
                <button class="edit" (click)="updateTransaction(transaction.id, transaction.datum, transaction.beschreibung, transaction.betrag, transaction.typ)">
                    <i class="fas fa-pen"></i>
                </button>
                <button class="delete" (click)="deleteTransaction(transaction.id)">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
      }
      <tr>
        <td></td>
        <td></td>
        <td><b>Gesamtbudget: {{getTotalBudget()}}</b></td>
        <td></td>
        <td></td>
    </tr>
    </table>
  </section>
</div>
<div #placeHolder></div>
  
<router-outlet />
