<div class="main"> 
    <section>
      <h2>Budget-Übersicht</h2>
      <div class="container">
        @for (transaction of transactions; track transaction.id){
        <div class="row">
          <div class="col">
            <input type="date" [(ngModel)]="transaction.datum" required/>
          </div>
          <div class="col">
            <input type="text" [(ngModel)]="transaction.beschreibung" required />
          </div>
          <div class="col">
            <input type="number" [(ngModel)]="transaction.betrag" class="form-control" required/>
          </div>
          <div class="col">
            <select [(ngModel)]="transaction.typ" class="form-control" required>
              <option value="income">Einnahme</option>
              <option value="expense">Ausgabe</option>
            </select>  
          </div>
          <div class="col">
            <input
              type="button"
              value="Update"
              class="btn btn-primary btn-sm"
              (click)="updateTransaction(transaction.id, transaction.datum, transaction.beschreibung, transaction.betrag, transaction.typ)"
            />
            <input
              type="button"
              value="Delete"
              class="btn btn-danger btn-sm"
              (click)="deleteTransaction(transaction.id)"
            />
          </div>
        </div>
      }
      </div>
    </section>
  </div>
  <div #placeHolder></div>
  
<router-outlet />
